body {
  font-family: 'Raleway';
  overflow-y: hidden;
}
.editor-wrapper {
  width: 100%;
  display: flex;
}
.editor-wrapper > div {
  width: 50%;
  height: auto;
}
#editor {
  width: 100%;
  min-height: 93.5vh;
  height: auto;
  margin-top: -1px;
}
#preview {
  margin-left: 10px;
  padding: 10px;
  overflow-x: hidden;
  height: 92vh;
  overflow-y: auto;
}
#header {
  background-color: #373d49;
  height: 35px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.title {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
}
.subtitle-wrapper {
  border: 1px solid #e8e8e8;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.subtitle {
  font-size: 15px;
  color: #000;
  margin: 0;
}
